$main-font: 'Roboto', sans-serif;
$header-font:  'Mountains of Christmas', cursive;
$title-font: 'Philosopher', sans-serif;
$nav-bg-color: #0d0d0e00;
$main-font-color: white;
$header-font-color: #5d8ee1;
$title-font-color: #e1b05d;